.p-dialog {
    background-color: #ffffff;  
    border-radius: 50px;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);  
    padding: 0;  
}

.p-dialog .p-dialog-content {
    background-color: #f9f9f9;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
}

.p-dialog .p-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
    background-color: #f1f1f1;  
}

.p-dialog .p-dialog-header-icon {
    background-color: #FEE2E2;  
    color: #D32F2F; 
    border-radius: 20%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.p-dialog .p-dialog-header-icon:hover {
    background-color: #FFCDD2;  
}

.logout-image {
    width: 140px;
    height: auto;
    margin: 15px auto;
    display: block;
}

.p-dialog-content p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.p-dialog-content span {
    font-size: 14px;
    color: #777;
}

.p-dialog-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.p-dialog-content a:hover {
    text-decoration: underline;
}

.p-dialog-footer {
    display: flex;
    justify-content: center;
    gap: 20px;  
    margin-top: 20px;  
}

.p-button-text {
    background-color: #f1f1f1;  
    color: #333;  
    border: 1px solid #ccc; 
    padding: 12px 24px; 
    border-radius: 8px;
    font-weight: normal;  
    
}

.p-button-text:hover {
    background-color: #ddd;  
}

/* .p-button {
    background-color: white;
    color: black; 
    padding: 12px 24px; 
    font-weight: bold; 
     border: 1px solid #ccc;
} */

.p-button:hover {
    
    background-color: #3B82F6;  
    color: white; 
}

