   .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .custom-button {
    margin-left: auto;
  }
  
  .assessment-options-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  
  .assessment-button {
    background-color: transparent;
    color: black;
    font-size: 1rem;
  }
  
  .assessment-button:hover {
    text-decoration: underline; 
    text-decoration-color: #4c6fff; 
    text-decoration-style: solid ;
    background-color: transparent !important;
    color:black !important;
    border-color: transparent !important;
    font-weight: bold !important;
    border: none !important;
  }

  